
<main class="main">
	{{> heading/index title="Товари" info="Комп'ютури та ноудбуки/Комп'ютури, неттопи, моноблоки"}}

	<div class="product-list">
		{{#each data.list}}
		{{> purchase-product/index data=this}}
		{{/each}}
	</div>
</main> 