@use '../../../lib/service.scss' as s;

.product {
	margin: s.space(4);

	&__block {
		display: grid;
		gap: s.space(7);
	}

	&__main-title {
		font-size: s.fonts(large);
		color: s.color(primary);
	}

	&__card-block {
		display: grid;
		gap: s.space(5);
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-auto-rows: auto;
		
	}

	&__card {
		display: grid;
		

		padding: s.space(2);
		border-radius: s.space(3);
		box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);

		transition: opacity 0.3s, transform 0.3s, box-shadow 0.3s;
		cursor: pointer; 
		
		&:hover {
			opacity: 0.9;
			box-shadow: 0 0 10px rgba(55, 118, 200, 0.5);
			transform: scale(1.004); 
		}
	}

	&__content {
		display: grid;
		align-items: center;
		gap: s.space(2);
		font-size: s.fonts(small);
	}

	&__title {
		font-size: s.fonts(medium);
		font-weight: 500;
	}

	&__description {
		
	}

	&__id {
		color: s.color(gray);
	}

	&__price {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__info {

	}

	&__edit-link {
		text-decoration: none;
		color: s.color(primary);
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.7;
		}
	}
}

